nav.contacts {
    display: flex;
    align-items: left;
}

ul.clinks {
    display: flex;
    list-style: none;
    float: left;
}

ul.clinks li {
    padding-left: 10px;
    padding-right: 10px;
}