<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/mystyles/mycss.css">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Anna Sokol</h1>
      <h2 class="project-tagline">My personal page</h2>
      
      <a href="/pages/research" class="btn">Research</a>
      <a href="/pages/cv" class="btn">CV</a>
    
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <nav class="bottombar">
          <div class="contacts">
          <ul class="clinks">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>LinkedIN</li>
            <li>GitHub</li>
            <li>Google Scholar</li>
            <li>ORCID</li>
          </ul>
        </div>
        </nav>
      </footer>
    </main>
  </body>
</html>
